{
  "extends": [
    "eslint-config-poetez/typescript",
    "eslint-config-prettier/@typescript-eslint",
    "plugin:prettier/recommended"
  ],
  "env": {
    "node": true,
    "es6": true,
    "jasmine": true
  },
  "rules": {
    "@typescript-eslint/no-require-imports": "off",
    "@typescript-eslint/naming-convention": "off",
    "@typescript-eslint/default-param-last": "off"
  }
}
