{
  "bracketSpacing": false,
  "printWidth": 80,
  "trailingComma": "all",
  "tabWidth": 2,
  "singleQuote": true,
  "overrides": [
    {
      "files": "*.cjs",
      "options": {
        "parser": "babel"
      }
    }
  ]
}
